In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Alexey\Desktop\GB\Python\swork\s9\taxi_dataset_with_predictions.csv')

In [3]:
df.shape

(1458644, 9)

In [6]:
n = 3
df.head(n)

,id,vendor_id,pickup_datetime,passenger_count,store_and_fwd_flag,trip_duration,distance_km,prediction_1,prediction_2
0,id2875421,1,2016-03-14 17:24:55,930.399753,0,455.0,1.500479,578.156451,355.270710
1,id2377394,0,2016-06-12 00:43:35,930.399753,0,663.0,1.807119,962.657188,674.295781
2,id3858529,1,2016-01-19 11:35:24,930.399753,0,2124.0,6.392080,2546.180515,2422.132431

In [7]:
df.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
passenger_count       0
store_and_fwd_flag    0
trip_duration         0
distance_km           0
prediction_1          0
prediction_2          0
dtype: int64